/* All Styles */
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

html {
    font-family: 'Permanent Marker', cursive;
}



/* Container */
#container {
    width: 100%;
    min-height: 100vh;
    max-width: 900px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid black;
}

/* Header */

header h1 {
    text-align: center;
}





/*  Game Settings */
#settings {
    text-align: center;
}
/* number-required message */
#number-required {
    /* default hide message */
    display: none;
    margin: 0;
    padding: 0;
    color: red;
}

/* Game Container */
#game-container {
    width: 90%;
    max-width: 500px;
    margin: 10px auto;
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 10px;
   
}
#game-container div {
    width: 50px;
    height: 50px;
    margin: 1px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.tile {
    background-color: #828282;
    cursor: pointer;
    transition: all .2s ease-out;
}

.currentTile {
    transition: all .2s ease-out;
    background-color: #343434;
    color: white;
}
.match {
    color: #828282;
    border: 1px solid green !important;
    background-color: #343434;
    cursor: initial !important;
}


/* Winner Message */
#winner-message {
    margin: 5px;
    color: #343434;
    font-size: 12px;
    text-align: center;
    text-decoration: underline;
    display: none;
}